body {
    background-image: url(/image/new-.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
}
.ppp {
    color:black;
    font-family: 'EB Garamond', serif;
    font-size:2.3em;
    line-height: 1.1;
}
h1 {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    text-shadow: 1px 1px 2px white, 0 0 25px white, 0 0 5px white;
    font-size:4.8em;
    text-align:center;

}
.w {
    font-family: inherit;
    color:rebeccapurple;
    font-family: 'EB Garamond', serif;
    font-size:30px;
    color:black;
}
.gender {
    color:red;
    font-family: 'EB Garamond', serif;
    font-size:2em;
} 

label {
    font-size:1.8em;
    color:blue;
}
footer {
    color:black;
    font-size:1em;
    padding: left 0px;;
    margin-top: 10px;
    width: 100%;
}
form {
    width:60%;
    /*border:2px solid white;*/
    text-align:center;
}
a {
    color:g;
}
.btn btn-outline-info btn-lg {
    color:blueviolet
}
#output {
    font-size:1.8em;
    border:2px solid black;
    text-shadow: 2px 2px 4px #000000;
}

